\<?php set_include_path(dirname(__FILE__) . DIRECTORY_SEPARATOR . '/templates' . PATH_SEPARATOR . get_include_path()); ?>
!!!
%html
  %head
    \<?php include 'head.php'; ?>
  %body
    %h1
      Hello world!
