%meta(charset="UTF-8")
%title Hello, world!
%meta(content="Hello World Page" name="description")
%meta(content="Hello,World" name="keywords")
%link{href: "./assets/css/app.css", rel: "stylesheet", type: "text/css"}
%script{src: "./assets/js/jquery-1.9.0.min.js", type: "text/javascript"}
%script{src: "./assets/js/app.js", type: "text/javascript"}
